body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background: #ddd;
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}
h1,h2,h3{
  margin: 3px 0;
  color: #06547a;
}
.App{
  margin: 10px;
  padding: 5px;
}
.todos{
  display: flex;
  flex-wrap:wrap ;
}

.todo{
  background: #fff;
  width: calc(50% - 20px);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.todo-body{
  margin: 15px 0;
}
.addtodo{
  display: block;
  width: 100%;
  padding: 5px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.addtodo input{
    border: 1px solid #484848;
    padding: 5px;
    margin: 5px 5px 5px 0;
    color: #333;
    display: inline-block;
    border-radius: 3px;
}

.btn{
    display: block;
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
    background: #607d8b;
    color: #ffff;
    border: 1px solid #131d22;
    border-radius: 3px;
}