body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  background: #ddd;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.heading {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  margin: 7px;
}
h1,
h2,
h3 {
  margin: 3px 0;
  color: #06547a;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 5px;
}
.container {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
}
.TaskContainer {
  width: 40rem;
}
.todos {
  border-radius: 0.3rem;
  background-color: rgb(204, 204, 205);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

.todo {
  background: #fff;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.todo-body {
  margin: 15px 0;
}
.addtodo {
  display: block;
  width: 100%;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.addtodo input {
  border: 1px solid #484848;
  padding: 5px;
  margin: 5px 5px 5px 0;
  color: #333;
  display: inline-block;
  border-radius: 3px;
}

.btn {
  display: block;
  cursor: pointer;
  padding: 6px 26px;
  margin: 5px 0;
  background: #607d8b;
  color: #ffff;
  border: 1px solid #131d22;
  border-radius: 3px;
}
